<!-- <nav>
  <li>
    <a routerLink="/app1">
      app1
    </a>
  </li>
  <li>
    <a routerLink="/app4">
      app4
    </a>
  </li>
  <li>
    <a routerLink="/app2">
      app2
    </a>
  </li>
  <li>
    <a routerLink="/app2">
      App 2
    </a>
  </li>
  <li>
    <a routerLink="/app4">
      App 4 Stats
    </a>
  </li>
  <li>
    <a routerLink="/app4">
      App 4 Emps
    </a>
  </li>
</nav> -->

<!-- ======= Header ======= -->
<header id="header">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="index.html">Arsha</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="/app1">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <li><a class="nav-link scrollto" href="#services">Services</a></li>
        <li><a class="nav-link   scrollto" href="/app4#/Statistics">Company Stats</a></li>
        <li><a class="nav-link scrollto" href="/app4#/EmployeesView">Team</a></li>
        
        <li><a class="nav-link scrollto" href="/app3#/Main">Support</a></li>
        <li><a class="getstarted scrollto" href="/app2#/LoginOrSignup">Get Started</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->

  </div>
</header>
<!-- End Header -->